################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/el-proyecte-grande-sprint-1-csharp-bosiTomi/FileContentIndex
