/* common elements */

html {
    font-size: 14px;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
    background-color: #CFD8DC;
    padding-bottom: 45px;
}

main {
    margin-top: 20px;
    padding-bottom: 30px;
}

#root {
    position: relative;
    min-height: 100vh;
}

span {
    color: #0366d6;
}

span.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* footer style */

footer {
    width: 100%;
    white-space: wrap;
    position: absolute;
    bottom: 0;
    height: 0;
}

footer .container {
    display: flex;
    flex-direction: column;
}

#joke {
    color: inherit;
}

#joke-container {
    margin-top: 10px;
    margin-left: 210px;
}

li>a,
div>a,
p>a {
    text-decoration: none;
    color: unset;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* navbar components */

.topbar {
    background-color: #050859 !important;
}

.lowerbar {
    background-color: #0E67B4 !important;
}

.navbar-brand,
.nav-link {
    color: aliceblue !important;
}

#menudiv,
#date-and-name {
    margin-left: 120px;
    margin-right: auto;
    display: flex;
    align-items: center;
}

#nameday,
#EUR,
#USD {
    margin-left: 20px;
}

.user-buttons,
#weather-and-exchange {
    margin-left: auto;
    display: flex;
    align-items: center;
}

#logo {
    margin-left: auto;
    margin-right: auto;
}

#sitename {
    margin-left: 16%;
    margin-right: auto;

}

/* sidebar */

#sidebar {
    position: absolute;
    z-index: 999;
    background-color: black;
    width: 200px;
    height: 100%;
    color: white;
}

#color-scheme {
    color: #ddd;
    cursor: pointer;
}

/* dog / nature pic component */

#dogdiv,
#naturediv {
    position: absolute;
    z-index: 998;
    right: 10px;
}

#dogdiv {
    top: 355px;
}

#naturediv {
    top: 130px;
}

#photo,
#nature-photo {
    max-height: 300px;
    max-width: 300px;
}

.photo-light {
    border: 5px solid bisque;
}

.photo-outer-div {
    border: 5px solid brown;
}


#body {
    width: 80%;
    text-align: justify;
    overflow: auto;
    padding-bottom: 100px;
}

/* dark mode switches */

body.dark {
    background-color: rgb(79, 74, 74) !important;
}

body.dark .photo-light {
    border: 5px solid rgb(228, 226, 224) !important;
}

body.dark .lowerbar {
    background-color: #575c61 !important;
}

body.dark .topbar {
    background-color: #101012 !important;
}

body.dark .photo-outer-div {
    border: 5px solid #575c61 !important;
}

body.dark h5,
body.dark h4,
body.dark .credits-name {
    color: #d9e4f0;
}

body.dark h6 {
    color: #aab0b7;
}

body.dark .photo {
    border: 5px solid rgb(228, 226, 224) !important;
}

body.dark .card {
    background-color: rgb(126, 137, 142) !important;
}

body.dark h5>a,
body.dark h5>a:hover,
body.dark h6 {
    color: white !important;
}

/* main content card style */

.card {
    background-color: rgb(109, 195, 234) !important;
    margin-left: 120px;
    margin-bottom: 20px;
    border-radius: 15px !important;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap !important;
    flex-direction: row !important;
}

h5>a {
    color: #050859;
    text-decoration: none;
}

h5>a:hover {
    color: #050859;
}

#article-image {
    border-color: rgb(109, 195, 234) !important;
    width: 300px;
    height: 180px !important;
    margin-left: 5px;
    border-radius: 20px;
}

#article-text {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
}

.box-office-image {
    width: 100px;
    height: 152px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.coming-soon-text {
    font-size: 10px;
}

.youtube-iframe {
    border-radius: 25px;
}

/* credit component */

.credits-image {
    width: 300px;
}

.credits-name {
    left: 50%;
    position: absolute;
    top: 40%;
    font-size: 40px;
}

/* media */

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 1400px) {

    #naturediv,
    #dogdiv {
        display: none;
    }

    .card,
    #menudiv,
    #date-and-name {
        margin-left: unset;
    }

    #body {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {

    #nameday,
    #sitename,
    #EUR,
    #USD,
    #article-image {
        display: none !important;
    }

    .credits-image {
        width: 200px !important;
    }

    .credits-name {
        font-size: 25px !important;
    }

    .youtube-iframe {
        width: 200px !important;
    }
}

@media screen and (max-width: 770px) {
    .card {
        margin-left: auto;
        margin-right: auto;
    }

    .credits-image {
        width: 150px !important;
    }

    .credits-name {
        font-size: 20px !important;
    }

    .youtube-iframe {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 550px) {


    #article-image {
        display: none !important;
    }

    .credits-name {
        top: 25% ! important;
    }

    .card {
        margin-left: 8px;
        margin-right: 8px;
    }
}