/* common elements */

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
    background-color: #CFD8DC;
    padding-bottom: 45px;
}

span {
    color: #0366d6;
}

span.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* footer style */

.footer {
    width: 100%;
    white-space: nowrap;
    position: absolute;
}

#joke {
    color: inherit;
}

#joke-container {
    margin-top: 10px;
    margin-left: 210px;
}

li>a,
div>a,
p>a {
    text-decoration: none;
    color: unset;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* navbar components */

.lowerbar {
    background-color: #0E67B4 !important;
}

.navbar-brand,
.nav-link {
    color: aliceblue !important;
}

.topbar {
    background-color: #050859 !important;
}

#date-and-name {
    margin-left: 3.125rem;
}

#date-and-name,
#weather-and-exchange {
    width: 550px;
    overflow: hidden;
}

#datetime {
    margin-left: 3.125rem;
}

#datetime,
#weather {
    display: inline-block;
    float: left;
}

#weather {
    min-width: 150px;
    margin-left: 3.25rem;
}

#menu {
    margin-left: 25px;
}

#USD,
#EUR,
#nameday,
#sitename,
#menudiv {
    float: left;
}

#logo {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: auto;
    margin-right: auto;
}

.container {
    flex-wrap: unset !important;
    justify-content: center !important;
}

#sitename {
    margin-left: auto;
    margin-right: auto;
}

/* sidebar */

#sidebar {
    position: absolute;
    z-index: 999;
    background-color: black;
    width: 200px;
    height: 100%;
    color: white;
}

#color-scheme {
    color: #ddd;
    cursor: pointer;
}

#menudiv {
    margin-left: 73px;
    margin-right: auto;
    display: flex;
}

/* dog / nature pic component */

#dogdiv,
#naturediv {
    position: absolute;
    z-index: 998;
    right: 10px;
}

#dogdiv {
    top: 355px;
}

#naturediv {
    top: 130px;
}

#photo,
#nature-photo {
    max-height: 300px;
    max-width: 300px;
}

.photo-light {
    border: 5px solid bisque;
}

.photo-outer-div {
    border: 5px solid brown;
}

.photo-light.dark {
    border: 5px solid rgb(228, 226, 224) !important;
}

#body {
    width: 80%;
    text-align: justify;
}

/* dark mode switches */

body.dark {
    background-color: rgb(79, 74, 74) !important;
}

.lowerbar.dark {
    background-color: #575c61 !important;
}

.topbar.dark {
    background-color: #101012 !important;
}

.photo-outer-div.dark {
    border: 5px solid #575c61 !important;
}

h5.dark {
    color: #d9e4f0;
}

h6.dark {
    color: #aab0b7;
}

.photo.dark {
    border: 5px solid rgb(228, 226, 224) !important;
}

.card.dark {
    background-color: rgb(126, 137, 142) !important;
}

h5>a.dark,
h5>a.dark:hover,
h6.dark {
    color: white !important;
}

body.dark {
    background-color: lightsalmon;
}

/* main content card style */

.card {
    background-color: rgb(109, 195, 234) !important;
    margin-left: 120px;
    margin-bottom: 20px;
    border-radius: 15px !important;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap !important;
    flex-direction: row !important;
}

h5>a {
    color: #050859;
    text-decoration: none;
}

h5>a:hover {
    color: #050859;
}

#article-image {
    border-color: rgb(109, 195, 234) !important;
    width: 300px;
    height: 180px !important;
    margin-left: 5px;
    border-radius: 20px;
}

#article-text {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.box-office-image {
    width: 100px;
    height: 152px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.coming-soon-text {
    font-size: 10px;
}

.youtube-iframe {
    border-radius: 25px;
}

/* credit component */

.credits-image {
    width: 300px;
}

.credits-name {
    left: 50%;
    position: absolute;
    top: 40%;
    font-size: 40px;
}

/* media */

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 1450px) {

    #naturediv,
    #dogdiv,
    #USD,
    #EUR {
        display: none !important;
    }
    #weather {
        margin-left: 12.5rem;
    }
}

@media screen and (max-width: 1400px) {

    #menudiv {
        margin-right: 11.25rem;
    }
    #datetime {
        margin-left: 3.125rem;
    }
    #weather {
        margin-left: 10rem;
    }
}

@media screen and (max-width: 1200px) {

    #weather {
        margin-left: 7rem;
    }
}

@media screen and (max-width: 1000px) {
    #nameday {
        display: none !important;
    }

    #article-image {
        display: none !important;
    }

    .credits-image {
        width: 200px !important;
    }

    .credits-name {
        font-size: 25px !important;
    }

    .youtube-iframe {
        width: 200px !important;
    }
}

@media screen and (max-width: 990px) {

    #menudiv {
        margin-right: 6.25rem;
        margin-left: 10.125rem;
    }
    #weather {
        margin-left: 5rem;
    }

}

@media screen and (max-width: 770px) {
    .credits-image {
        width: 100px !important;
    }

    .credits-name {
        font-size: 18px !important;
    }

    .youtube-text {
        display: none !important;
    }

    .youtube-iframe {
        max-width: 100% !important;
    }
    #menudiv {
        margin-right: 1.25rem;
        margin-left: 15.125rem;
    }
}

@media screen and (max-width: 575px) {
    #menudiv {
        margin-right: 2.25rem;
        margin-left: 14.9rem;
    }
}

@media screen and (max-width: 550px) {
    #weather {
        display: none !important;
    }

    .box-office-image {
        display: none !important;
    }

    #article-image {
        display: none !important;
    }

    #sitename {
        display: none !important;
    }

    .credits-name {
        top: 25% ! important;
    }
    
    .card {
        width: 380px;
        margin-left: 8px
    }
    
    #menudiv {
        margin-right: 1.25rem;
        margin-left: 5rem;
    }
}

@media screen and (max-width: 501px) {
    #menudiv {
        margin-right: 1.25rem;
        margin-left: 8rem;
    }
    #date-and-name {
        margin-left: 3rem;
    }
}

@media screen and (max-width: 450px) {
    .credits-name {
        display: none !important;
    }
}

@media screen and (max-width: 425px) {
    #date-and-name {
        display: none !important;
    }
}

@media screen and (max-width: 325px) {
    .credits-image {
        display: none !important;
    }
}