@{
    ViewData["Title"] = "Credits";
}

<p>This page was brought to you by:</p>
<p>Tamás Bosánszki</p>
<p>András Gál</p>
<p>János Jankovics</p>
<p>Should you have any concern regarding the data used on this website, please sue Codecool and not us!<br/>But all data is coming from public APIs, so don't bother.</p>