<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Delightful Daily Dose</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="js/site.js" defer asp-append-version="true"></script>
</head>
<body>
<header>
    <div id="jokediv">
        <text class="text-center" id="joke"></text>
    </div>
    <div id="naturediv">
        <h5 class="text-center">A soul calmer</h5>
        <img id="nature-photo"/>
    </div>
    <div id="dogdiv">
        <h5 class="text-center">A true friend</h5>
        <img id="photo"/>
    </div>
    <div id="sidebar" hidden="hidden">
        <div id="backdrop">X</div>
        <div id="side-menu">
            <div id="style">Sötét Mód</div>
            <ul id="main-menu">
                <p>Menü</p>
                <li id="fresh">Legfrissebb</li>
                <li id="most-viewed">Legnézettebb</li>
            </ul>
            <ul id="categories">
                <p>Kategóriák</p>
                <li id="domestic"><a asp-action="Index" asp-controller="Domestic">Belföld</a></li>
                <li id="foreign">Külföld</li>
                <li id="sport"><a asp-action="Index" asp-controller="Sport">Sport</a></li>
                <li id="culinary">Gasztró</li>
                <li id="gaming">Gaming</li>
                <li id="cinema">Mozi</li>
                <li id="tv">TV</li>
                <li id="techworld"><a asp-action="Index" asp-controller="TechWorld">Techvilág</a></li>
                <li id="business">Tőzsde</li>
                <li id="entertainment"><a asp-action="Index" asp-controller="Entertainment">Szórakozás</a></li>
            </ul>
        </div>
    </div>
    <nav class="navbar adbar">
        <div class="container">
            <div id="date-and-name">
                <text id="datetime" class="nav-link">@DateTime.Now.ToString("yyyy-MM-dd, dddd")</text>
                <text class="nav-link" id="nameday"></text>
            </div>
            <div id="logo">
                <img width="50" src="img/Delightful Daily Dose-logo.png"/>
            </div>
            <div id="weather-and-exchange">
                <text class="nav-link" id="weather"></text>
                <text class="nav-link" id="EUR"></text>
                <text class="nav-link" id="USD"></text>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="menudiv">
                <a class="nav-link" id="menu">Menu</a>
            </div>
            <a id="sitename" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img width="150" src="img/Delightful Daily Dose-name.png"/></a>
        </div>
    </nav>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Delightful Daily Dose - <a asp-area="" asp-controller="Home" asp-action="Credits">Credits</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
