@{
    ViewData["Title"] = "Sports News";
}
<div class="text-center">
    <h1 class="display-4">Sports News</h1>
    <p></p>
</div>
<div>
    @foreach (News news in Model)
    {
        <h5><a href="@news.Link" target="_blank">@news.Title</a></h5>
        <h6>@news.Description</h6>
        if (news.ImageUrl != null)
        {
            <img src="@news.ImageUrl">
        }
    }
</div>